/DefinicionIndicador.java
/DefinicionIndicadorConstants.java
/DefinicionIndicadorTokenManager.java
/ParseException.java
/SimpleCharStream.java
/Token.java
/TokenMgrError.java
/EG1.java
/EG1Constants.java
/EG1TokenManager.java
/AnalizadorIndicador.java
/DefinicionAnalizadorConstants.java
/Analizador.java
/DefinicionAnalizador.java
/DefinicionAnalizadorTokenManager.java
