{{#partial "contenido"}}
	    <form class="form-carga-empresa">
	        <h2 class="form-carga-empresas-heading">Carga de Empresas</h2>
			<hr>
			  <div class="form-group col-md-8">
			    <label for="nombre">Nombre de la empresa</label>
			    <input type="name" class="form-control" name="nombre" placeholder="Nombre" required="" autofocus="" >
			    <!--<small id="emailHelp" class="form-text text-muted">Aclaracion sobre el ingreso de datos.</small>-->
			    <button type="submit" class="btn btn-dark" style="margin-top:10px">Cargar</button>
			  </div>
	    </form>
{{/partial}}

{{>layout.hbs}}