{{#partial "contenido"}}
	    <form class="form-carga-indicadores" action="/indicadores" method="POST">
	        <h2 class="form-carga-indicadores-heading">Carga de Indicadores</h2>
			<hr>
			  <div class="form-group col-md-8">
			    {{#if cargaExitosa}}
            		<div class="alert alert-success">
                		El indicador se ha cargado con exito.
            		</div>
        		{{/if}}
        		{{#if cargaErronea}}
            		<div class="alert alert-danger">
                		Error en la carga: {{mensajeDeError}}
            		</div>
        		{{/if}}
        		{{#if camposVacios}}
            		<div class="alert alert-danger">
                		Por favor, complete todos los datos.
            		</div>
        		{{/if}}
			    <label for="inputNombre">Nombre del Indicador</label>
			    <input type="name" class="form-control" name="nombre" placeholder="Nombre" required="" autofocus="" >
          <label for="inputFormula">Fórmula</label>
          <input type="formula" class="form-control" name="formula" placeholder="Fórmula" required="" autofocus="" >
			    <!--<small id="emailHelp" class="form-text text-muted">Aclaracion sobre el ingreso de datos.</small>-->
			    <button type="submit" class="btn" style="margin-top:10px; background-color: #8A5899; color: white;">Cargar</button>
			  </div>
	    </form>
{{/partial}}

{{>layout.hbs}}