{{#partial "contenido"}}
	    <form class="form-crear-taxativa" action="/metodologias/new/reglas" method="POST">
	      <h2 class="form-crear-taxativa-heading">Crear Regla Taxativa</h2>
			  <hr>
			  <div class="form-group row">
          <label for="inputNombre">Nombre</label>
          <input type="nombre" class="form-control" name="nombre" placeholder="Nombre" required="" autofocus="" >
          <br>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label for="Indicador">Indicador</label>
            <br>
            <select class="custom-select" name="indicador">
              {{#each indicadores}}
              <option>{{this}}</option>
              {{/each}}
            </select>
          </div>

          <div class="col-md-4">
            <div>
              <label>Comparador</label>
            </div>
              <label class="radio-inline">
                <input type="radio" name="radiomayor">>
              </label>
              <label class="radio-inline">
                <input type="radio" name="radiomenor"><
              </label>
              <label class="radio-inline">
                <input type="radio" name="radioigual">=
              </label>
              <label class="radio-inline">
                <input type="radio" name="radiodistinto">!=
              </label>
          </div>

          <div class="col-md-4">
            <label for="inputValor">Valor</label>
            <input type="valor" class="form-control" id="inputValor" placeholder="Valor" required="" autofocus="" >
          </div>
        </div>


        <div class="form-group col-md-7">  
        <br>        
			   <button type="submit" class="btn btn-dark" style="margin-top:10px">Crear</button>
          </div>

	    </form>
{{/partial}}

{{>layout.hbs}}